[submodule "vendor/imguizmo"]
	path = vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/nfd"]
	path = vendor/nfd
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2.git
